<%-include("partials/header")-%>
<h1>Home</h1>
<p><%=StartingContent %></p>

<%posts.forEach(function(post){%>
    <h1><%=post.title%></h1>
    <P><%=post.content.substring(0,100) + "..."  %><a href=
      https://awful-deer-overcoat.cyclic.app//ports/<%=post.title%>>Read more</a></P>
<%})%>

<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <li id="contact"><a href="/compose" class="compose">Write Today's Entry</a></li>
  </ul>
</nav>

      </ul>
    </nav>
  </div>;







<%-include("partials/footer")-%>

